<template>
    <div id="app">
        <!--
            Formulier
        -->
        <form @submit="onSubmit" class="search__form" novalidate="true">
            <input v-model="formData['keyword']" type="search" placeholder="Zoeken" />
            <select v-model="formData['collection']">
                <option
                    v-for="(collection, index) in collections"
                    :key="index"
                    :value="collection.handle"
                >{{ collection.title }}</option>
            </select>
            <button
                :disabled="formData.keyword.length === 0"
                type="submit"
                class="buttonreset search__button"
            >
                <i class="fas fa-search"></i>
            </button>
        </form>

        <!--
            Loader
        -->
        <div v-if="isSearching" class="loader__wrapper">
            <div class="loader"></div>
        </div>

        <!--
            Resultaten
        -->
        <div v-if="resultsToShow.length && !isSearching" class="padding-top padding-bottom">
            <Result v-for="(result, index) in resultsToShow" :key="index" :result="result" />
        </div>

        <!--
            Tekst 'geen zoekresultaten'
        -->
        <div
            v-if="hasSearched && !isSearching && resultsToShow.length === 0"
            class="padding-top padding-bottom"
        >Er zijn geen zoekresultaten gevonden.</div>

        <!--
            Pagination
        -->
        <div v-show="results.length && !isSearching" class="padding-bottom">
            <Pagination
                :offset="offset"
                :limit="limit"
                :totalItems="totalItems"
                @update="onUpdatePagination"
            />
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import { URL } from './../globals.js';
import Result from './components/result.vue';
import Pagination from './../../../shared/vue/pagination/index.vue';

export default {
    name: 'search',

    /**
     * Componenten
     */
    components: {
        Result,
        Pagination,
    },

    /**
     * State
     */
    data() {
        return {
            formData: {
                keyword: '',
                collection: 'alles',
            },
            collections: [
                { handle: 'alles', title: 'Alle secties' },
                { handle: 'check', title: 'Check' },
                { handle: 'checklists', title: 'Checklists' },
                {
                    handle: 'contentPaginas',
                    title: "Content pagina's",
                },
                {
                    handle: 'documentatie',
                    title: 'Documentatie',
                },
                {
                    handle: 'domeinnamen',
                    title: 'Domeinnamen',
                },
            ],
            results: [],
            hasSearched: false,
            isSearching: false,
            offset: 0,
            limit: 10,
            totalItems: 0,
        };
    },

    /**
     * Computed
     */
    computed: {
        /**
         * Alleen resultaten tonen met een url
         */
        resultsToShow() {
            return this.results.filter(r => r.url !== null);
        },
    },

    /**
     * Methods
     */
    methods: {
        /**
         * Als de pagination gebruikt wordt dan wordt deze functie aangeroep dmv emit
         */
        onUpdatePagination: function(currentPage, newOffset) {
            this.offset = newOffset;

            this.prepareSearch();
        },

        /**
         * Zoek formulier wordt gesubmit
         */
        onSubmit: function() {
            // Bij het verzenden van het formulier pagination resetten
            this.offset = 0;
            this.totalItems = 0;

            event.preventDefault(event);
            this.prepareSearch();
        },

        /**
         * Check of de gewenste data bestaat
         */
        prepareSearch: function() {
            if (
                this.formData.keyword.length &&
                this.formData.collection.length
            ) {
                this.postSearchRequest(
                    this.formData.keyword,
                    this.formData.collection,
                );
            }
        },

        /**
         * Zoek request versturen
         */
        postSearchRequest: function(keyword, collection) {
            // Check op verplichte parameters
            if (!keyword || !collection) {
                return console.error(
                    `Search: Geen ${
                        !keyword ? 'keyword' : 'collection'
                    } meegegeven.`,
                );
            }

            // Bouw zoekobject
            const searchParams = {
                search: keyword,
                collections: [collection],
                limit: this.limit ? this.limit : 10,
                offset: this.offset ? this.offset : 0,
            };

            // Loader tonen
            this.isSearching = true;

            // Geen resultaten tekst mag na eerste zoekopdracht getoond worden
            this.hasSearched = true;

            // Request
            axios({
                url: URL.search,
                method: 'GET',
                params: searchParams,
            })
                .then(result => {
                    if (result.status === 200) {
                        const results = result.data.results;
                        const records = results.records.regular.records;

                        // Update gevonden records
                        this.results = records;

                        this.totalItems = results.records.regular.totalRecords;
                    } else {
                        console.error(
                            'Search: statuserror',
                            result.status,
                            'result',
                            result,
                        );
                    }

                    // Loader weer verbergen
                    this.isSearching = false;
                })
                .catch(error => {
                    console.error('Search: error', error);

                    // Loader weer verbergen
                    this.isSearching = false;
                });
        },
    },
};
</script>
