<template>
    <div>
        <!--
            Page titel
        -->
        <h1 v-if="!loadingContent">{{ documentationEntry ? documentationEntry.title : '&nbsp;' }}</h1>

        <!--
            Loader
        -->
        <div v-if="loadingContent" class="loader__wrapper">
            <div class="loader"></div>
        </div>

        <!--
            Content
        -->
        <div v-if="!loadingContent && documentationEntry && documentationEntry.content">
            <ContentBlocks :blocks="documentationEntry.content" />
        </div>
    </div>
</template>

<script>
import ContentBlocks from './../../contentBlocks/main.vue';

export default {
    name: 'DocumentatieDetail',

    components: {
        ContentBlocks,
    },

    /**
     * State
     */
    data() {
        return {
            loadingContent: false,
        };
    },

    mounted() {
        this.getContent();
    },

    /**
     * Computed
     */
    computed: {
        ...Vuex.mapState(['documentationEntry']),
    },

    methods: {
        getContent() {
            this.loadingContent = true;

            this.$store
                .dispatch('fetchDocumentationEntry', this.$route.path)
                .then(() => {
                    this.loadingContent = false;
                });
        },
    },
};
</script>
