<template>
    <div id="app">
        <div class="row">
            <div class="col col--3">
                <!--
                    Loader
                -->
                <div v-if="loadingTree" class="loader__wrapper">
                    <div class="loader"></div>
                </div>

                <!--
                    Side menu (tree)
                -->
                <Sidemenu :sidemenu="documentationStructure" />
            </div>
            <div class="col col--9">
                <div class="documentatie">
                    <router-view :key="$route.path" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Sidemenu from './../sidemenu/main.vue';

export default {
    name: 'Documentatie',

    components: {
        Sidemenu,
    },

    /**
     * State
     */
    data() {
        return {
            loadingTree: false,
        };
    },

    mounted() {
        this.getDocumentStructure();
    },

    /**
     * Computed
     */
    computed: {
        ...Vuex.mapState(['documentationStructure']),
    },

    methods: {
        getDocumentStructure() {
            this.loadingTree = true;

            this.$store
                .dispatch('fetchDocumentationStructure', this.$route.path)
                .then(() => {
                    this.loadingTree = false;
                });
        },
    },
};
</script>
