<template>
    <div class="card">
        <div class="card__header">
            <h2>
                <a :href="this.result.url" class="link link--white" tabindex="-1">{{ result.title }}</a>
            </h2>
        </div>
        <div class="card__content">
            <div class>
                <div
                    class="padding-bottom padding-left padding-right"
                    v-if="result.excerpt.length"
                    v-html="result.excerpt"
                ></div>
                <div class="link padding-bottom padding-left padding-right">
                    <a :href="this.result.url">{{ result.url }}</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    /**
     * Props
     */
    props: {
        result: {},
    },
};
</script>
