<template>
    <div>
        <img :src="afbeelding" :alt="alt ? alt : ''" />
    </div>
</template>

<script>
export default {
    name: 'Afbeelding',

    /**
     * Props
     */
    props: {
        afbeelding: String,
        alt: String,
    },
};
</script>
