<template>
    <div class="row">
        <div class="col">
            <h2 v-if="block.titel">{{ block.titel }}</h2>

            <div :data-codemirror="block.fields.language.value">
                <textarea v-html="block.fields.code"></textarea>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Code',

    /**
     * Props
     */
    props: {
        block: Object,
    },

    mounted() {
        // Show code with language specific rendering
        window.addCodemirror();
    },
};
</script>
