<template>
    <div v-if="blocks.length">
        <div v-for="(block, index) in blocks" :key="index">
            <Code v-if="block.type === 'code'" :block="block" />
            <TekstEnAfbeelding v-else-if="block.type === 'tekstEnAfbeelding'" :block="block" />
            <div
                v-else
            >{{ `De template voor content blokken met type '${block.type}' is helaas niet aanwezig.` }}</div>
        </div>
    </div>
</template>

<script>
import Code from './code.vue';
import TekstEnAfbeelding from './tekstEnAfbeelding.vue';

export default {
    name: 'ContentBlocks',

    components: {
        Code,
        TekstEnAfbeelding,
    },

    /**
     * Props
     */
    props: ['blocks'],
};
</script>
