<template>
    <div class="row">
        <div
            v-if="block.fields.afbeelding && block.fields.afbeeldingPositie.value == 'links'"
            class="col col--6"
        >
            <Afbeelding :afbeelding="block.fields.afbeelding" />
        </div>
        <div :class="{'col': true, 'col--6': block.fields.afbeelding}">
            <h2 v-if="block.titel">{{ block.titel }}</h2>

            <div v-html="block.fields.omschrijving" class="c-entry"></div>
        </div>
        <div
            v-if="block.fields.afbeelding && block.fields.afbeeldingPositie.value == 'rechts'"
            class="col col--6"
        >
            <Afbeelding :afbeelding="block.fields.afbeelding" :alt="block.titel" />
        </div>
    </div>
</template>

<script>
import Afbeelding from './elements/afbeelding.vue';

export default {
    name: 'TekstEnAfbeelding',

    components: {
        Afbeelding,
    },

    /**
     * Props
     */
    props: {
        block: Object,
    },
};
</script>
